.AddRecipePage {
    max-width: 80%;
    margin: auto;
}

.errorDiv {
    border: 2px solid darkred;
    background-color: rgba(165, 42, 42, 0.212);
    border-radius: 5px;
    padding: 10px 0;
}

.AddRecipePage h3 {
    text-align: left;
}

.ImageUploaderWrapper {
    margin: 30px 0;
}

.ImageUploaderDiv {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Line {
    background-color: lightgrey;
    width: 80%;
    height: 2px;
    margin: 30px auto;
}


.IngredientEntry {
    border: lightgrey 2px dashed;
    border-radius: 16px;
    margin: 10px auto;
    padding: 10px 0;
}

.IngredientFields {
    display: flex;
    justify-content: space-between;
}

.IngredientField{
    margin: 10px;
}

.AutocompleteDiv {
    margin-top: 25px;
}

.MethodStepDiv{
    margin-bottom: 15px;
}

.AddStepButtonDiv {
    margin: 10px 0;
}

.SubmitButtonDiv {
    margin-bottom: 40px;
}

@media(min-width: 750px) {
    .TitleDiv {
        display: flex;
        flex-direction: column;
    }
    .IngredientEntry {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .SubmitButtonDiv {
        margin-top: 50px;
    }
    .Line {
        margin: 50px auto;
    }
}