.RecipeCard {
    border: 2px solid lightgrey;
    width: 80%;
    height: 100px;
    margin: auto;
    margin-bottom: 15px;
    padding: 3px 3px 4px 0;
    text-decoration: none;
    color: black;

}

a:-webkit-any-link {
     text-decoration: none;
}

.RecipeHead {
    height: 30%;
}

.RecipeHead p {
    margin: 4px 0;
}

.RecipeBody {
    display: flex;
    justify-content: space-between;
    height: 70%;
}

.RecipeImageDiv {
    height: 100%;
    width: auto;
    max-width: 50%;
    display: flex;
    justify-content: flex-start;
}

.RecipeImageDiv img {
    max-width: 100%;
    max-height: 100%;

}

.IconDiv {
    height: 100%;
    width: auto;
    min-width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.IconDiv div {
    background-size: contain;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px
}


/*  MEDIA QUERIES */


@media (min-width: 400px) {
    .IconDiv div {
        height: 30px;
        width: 30px
    }
    .RecipeCard {
        height: 120px;

    }
}


@media (min-width: 750px) {
    .RecipeCard {
        width: 250px;
        margin-left: 10px;
        margin-right: 10px;
    }
}


/*  ICON IMAGES */


.vegan {
    background-image: url(../../../../assets/icons/vegan.png);
}

.vegetarian {
    background-image: url(../../../../assets/icons/vegetarian.png);
}

.gluten_free {
    background-image: url(../../../../assets/icons/gluten_free.png);
}

.lactose_free {
    background-image: url(../../../../assets//icons/lactose_free.png);
}

.nut_free {
    background-image: url(../../../../assets/icons/nut_free.png);
}

.egg_free {
    background-image: url(../../../../assets/icons/egg_free.png);
}
