.methodStep {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.methodStepToggled {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    background-color: lightgrey;
    text-decoration: line-through;
}

.checkbox {
    margin: auto 7px;
}

.amount {
    margin: 0 3px;
    font-weight: bold;
}

.unit {
    margin: 0 3px;
    font-weight: bold;
}

.name {
    margin: 0 3px;
}