.TipBox {
    border: 2px solid lightgrey;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.message {
    padding: 2px 7px;
}

.TipBox img {
    height: 30px;
    margin-left: 15px;
}

.TipBox p {
    margin: 10px 0;
}

.TipHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}
