.IngredientEntry {
    border: lightgrey 2px dashed;
    border-radius: 16px;
    margin: 10px auto;
    padding: 10px 0;
    animation-name: flash;
    animation-timing-function: ease-in-out;
    animation-duration: 500ms;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.IngredientFields {
    display: flex;
    justify-content: space-between;
}

.IngredientField{
    margin: 10px;
}

@media(min-width: 750px) {
    .IngredientEntry {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
}

@keyframes flash {
    0% {
        border-color: lightgray;
        background-color: white;
    }
    100% {
        border-color: darkgreen;
        background-color: rgba(0, 100, 0, 0.158);
    }
}