.ButtonDiv{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.RecipePage {
    border: 2px solid lightgrey;
    width: 80%;
    margin:0 auto 60px auto;
}

.middleSection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.RecipePicture {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 90%;
    margin: 5px 0 20px 0;
}

.Line {
    background-color: lightgrey;
    width: 80%;
    height: 2px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 400px) {
    .RecipePicture {
        height: 100px;
        width: 90%;
    }
}

@media (min-width: 700px) {
    .middleSection {
        flex-direction: row;
        justify-content: space-between;
    }
    .RecipePicture {
        height: 150px;
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .RecipePicture {
        height: 190px;
        width: 50%;
    }
}