.ButtonDiv{
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
}

.RecipePage {
    border: 2px solid lightgrey;
    width: 80%;
    margin: auto;
}

.middleSection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.PictureDiv {
    height: 80%;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    outline: 2px solid blue
}

.RecipePicture {
    outline: 2px solid red;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100px;
    width: 100%;
    background-position: right;
}

.Line {
    background-color: lightgrey;
    width: 80%;
    height: 2px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 700px) {
    .middleSection {
        flex-direction: row;
        justify-content: space-between;
    }
}