.methodStep {
    display: flex;
    padding: 11px 4px;
    text-align: left;
}

.methodStepToggled {
    display: flex;
    padding: 11px 4px;
    text-align: left;
    background-color: lightgrey;
    text-decoration: line-through;
}

.checkbox {
    margin: auto 10px;
}